body {
  margin:0px;
  background-color:rgba(102, 204, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:756px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1517 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:0px;
  width:754px;
  height:179px;
}
#u1518_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:36px;
}
#u1518 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  color:#FFFFFF;
}
#u1519 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:121px;
  word-wrap:break-word;
}
#u1520_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:36px;
}
#u1520 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:30px;
  color:#FFFFFF;
}
#u1521 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:121px;
  word-wrap:break-word;
}
#u1522_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:36px;
}
#u1522 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:125px;
  height:30px;
  color:#FFFFFF;
}
#u1523 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:121px;
  word-wrap:break-word;
}
#u1524_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:130px;
  height:36px;
}
#u1524 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:0px;
  width:124px;
  height:30px;
  color:#FFFFFF;
}
#u1525 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:120px;
  word-wrap:break-word;
}
#u1526_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:36px;
}
#u1526 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:0px;
  width:125px;
  height:30px;
  color:#FFFFFF;
}
#u1527 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:121px;
  word-wrap:break-word;
}
#u1528_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:36px;
}
#u1528 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:0px;
  width:125px;
  height:30px;
  color:#FFFFFF;
}
#u1529 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:121px;
  word-wrap:break-word;
}
#u1530_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:52px;
}
#u1530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:125px;
  height:46px;
  color:#FFFFFF;
}
#u1531 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
#u1532_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:52px;
}
#u1532 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:30px;
  width:125px;
  height:46px;
  color:#FFFFFF;
}
#u1533 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
#u1534_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:52px;
}
#u1534 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:30px;
  width:125px;
  height:46px;
  color:#FFFFFF;
}
#u1535 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
#u1536_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:130px;
  height:52px;
}
#u1536 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:30px;
  width:124px;
  height:46px;
  font-family:'標楷體';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u1537 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:120px;
  word-wrap:break-word;
}
#u1538_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:52px;
}
#u1538 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:30px;
  width:125px;
  height:46px;
  font-family:'標楷體';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u1539 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
#u1540_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:52px;
}
#u1540 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:30px;
  width:125px;
  height:46px;
  font-family:'標楷體';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u1541 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
#u1542_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:56px;
}
#u1542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:125px;
  height:50px;
  color:#FFFFFF;
}
#u1543 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:121px;
  word-wrap:break-word;
}
#u1544_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:56px;
}
#u1544 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:76px;
  width:125px;
  height:50px;
  color:#FFFFFF;
}
#u1545 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:121px;
  word-wrap:break-word;
}
#u1546_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:56px;
}
#u1546 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:76px;
  width:125px;
  height:50px;
  color:#FFFFFF;
}
#u1547 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:121px;
  word-wrap:break-word;
}
#u1548_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:130px;
  height:56px;
}
#u1548 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:76px;
  width:124px;
  height:50px;
  font-family:'標楷體';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u1549 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:120px;
  word-wrap:break-word;
}
#u1550_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:56px;
}
#u1550 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:76px;
  width:125px;
  height:50px;
  font-family:'標楷體';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u1551 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:121px;
  word-wrap:break-word;
}
#u1552_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:56px;
}
#u1552 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:76px;
  width:125px;
  height:50px;
  font-family:'標楷體';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u1553 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:121px;
  word-wrap:break-word;
}
#u1554_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:54px;
}
#u1554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:125px;
  height:48px;
  color:#FFFFFF;
}
#u1555 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u1556_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:54px;
}
#u1556 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:126px;
  width:125px;
  height:48px;
  color:#FFFFFF;
}
#u1557 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u1558_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:54px;
}
#u1558 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:126px;
  width:125px;
  height:48px;
  color:#FFFFFF;
}
#u1559 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u1560_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:130px;
  height:54px;
}
#u1560 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:126px;
  width:124px;
  height:48px;
  font-family:'標楷體';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u1561 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u1562_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:54px;
}
#u1562 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:126px;
  width:125px;
  height:48px;
  font-family:'標楷體';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u1563 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u1564_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:54px;
}
#u1564 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:126px;
  width:125px;
  height:48px;
  font-family:'標楷體';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u1565 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
