table {
    background: rgba(0, 0, 0, 0.507);
}
th {
    color: white;
}
.bd-pageheader{
    font-family: "ctb_xingothic-tc-w2", Georgia, serif;
 }

body{
    font-family: "ctb_xingothic-tc-w2", Georgia, serif;
    font-weight:bold; 
    font-size:17px;
 }
 
 .acceptMission{
    color:black;
}
.mission{
    background-color: #114B5F;
    color: white;
}
.captain {
    font-size:30px;
    margin-left: 35%;
}

#inline {
    display: flex;
    font-family: "ctb_xingothic-tc-w2", Georgia, serif;
}

.acceptMission {
    width: 45%;
}
.sentMission {
    width: 45%;
}

.acceptedMission {
    position:absolute;
    right:10px;
    width: 45%;
}

#registerTable {
    /* display:none;
    border-style:solid;
    height: 100%;
    width: 50%; */
    background-color: skyblue;
    z-index: 2;
    position: fixed;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 30px;
    border: 2px solid;
    border-radius: 25px;
    padding: 15px;
    display:none;
}

#consultationTable {
    background-color: skyblue;
    z-index: 2;
    position: fixed;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 200px;
    border: 2px solid;
    border-radius: 25px;
    padding: 15px;
    display:none;
}

#visitTable {
    background-color: skyblue;
    z-index: 2;
    position: fixed;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 200px;
    border: 2px solid;
    border-radius: 25px;
    padding: 15px;
    display:none;
}

#gray {
    display:none;
    height: 100%;
    width: 100%;
    background-color: skyblue;
    z-index: 1;
    left: 0%;
    top:0%;
    position: fixed;
    display:none;
    opacity: 0.9;
}

.input {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    box-sizing: border-box;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    /* cursor: pointer; */
}

/* input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    border:1px; border-bottom-style: solid;border-top-style: none;border-left-style:none;border-right-style:none;
  } */
