
body{
    background-color:lavender;
    font-family:"微軟正黑體";
    font-size:16px;
}
a{
    text-decoration:none;
}
th{
    text-align:center;
}
tr{
    text-align:center;
}
.vip-cell {
    color: blue;
    text-decoration:underline;
}
.vipPortrait { 
    padding-left:100px;
}
#functionBar{
    margin-top: 10px;
    /* background-color: black; */
}
#MissionForm2 {
    display:none;
    z-index: 1; 
    position: fixed; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.8); 
    top: 0;
}
#vipInfo{
    width: 100%;
}

.mission-table {
    width: 90%;
}
.table-title {
    text-align: center;
}
.mission-age {
    width: 20%;
}
.vip-info {
    margin-top: 10px;
    width: 90%;
}
.care-info {
    margin-top: 10px;
    width: 90%;
}
.flex {
    display: flex;
}
.flex-column {
    flex-direction:column;
}
.info {
    width: 100%;
    margin-right: 50px;
    font-size: 16px;
}
.vip-name {
    margin-right: 10px;
    margin-top: 0px;
}
.vip-sex {
    margin-right: 10px;
}
.vip-age {
    margin-right: 10px;
}

.vip-icon { 
    margin-right:40px;
    margin-left:80px;
}
.icon-size {
    font-size: 60px;
}
.vip-image {
    width: 150px;
    height: 150px;
    top: 5px;
}
.vip-surgery {
    width: 25%;
}
.vip-medicine {
    width: 25%;
}
.pre-background {
    background-color:#FFFFFF; 
    border:none;
}
#executorInfo{
    background-color: skyblue;
    z-index: 2;
    position: fixed;
    left: 25%;
    margin-left: -250px;
    width:80%;
    top: 5px;
    border: 2px solid;
    border-radius: 25px;
    padding: 15px;
    display:none;
}
#statusInfo{
    background-color: skyblue;
    z-index: 2;
    position: fixed;
    width: 80%;
    left: 25%;
    margin-left: -250px;
    top: 5px;
    border: 2px solid;
    border-radius: 25px;
    padding: 15px;
    display:none;
}
#MissionForm2 {
    z-index: 1; 
    position: fixed; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.8); 
    top: 0;
    display:none;
}
.pastNotFinished {
    color: red;
}
.pastFinished {
    color:grey;
}
.main-menu { float:right; color:#FFFFFF; background-color:#666666; padding:5px; margin-bottom:5%; margin-right:2% ;  cursor:pointer; display:inline-block; } /* 主選單的樣式 */
.main-menu:hover { background-color: grey; }
.sub-menu { color: grey; background-color:#CCCCCC; margin:5px -5px; padding:0px; list-style-type:none; position:absolute; } /* 下拉清單的樣式 */
.sub-menu li { padding: 3px 5px; text-align:left; } /* 下拉清單每一列的樣式 */
.sub-menu li:hover { color:#FFFFFF; background-color:rgb(24, 1, 1); }
.sub-menu a { text-align:left; display:block; text-decoration:none; color: whitesmoke; }
.sub-menu a:hover { color:#FFFFFF; background-color: rgb(17, 5, 5); text-decoration:none; }