#phraseForm{
   background-color: skyblue;
   z-index: 2;
   position: fixed;
   width: 500px;
   left: 50%;
   margin-left: -250px;
   top: 200px;
   border: 2px solid;
   border-radius: 25px;
   padding: 15px;
   display:none;
}
#MissionForm2 {
   display:none;
   z-index: 1; 
   position: fixed; 
   width: 100%; 
   height: 100%; 
   background-color: rgba(0, 0, 0, 0.8); 
   top: 0;
}
.title {
    text-align: center;
    margin: 10px;
    color: #2b1166;
    border-style: outset;
    width: 180px;
}
.footer{
    width: 80%;
    margin: 10px;
}
.vip-info{
    display: flex;
}
.info{
    align-content: right;
    width: 450px;
}
.output{
    align-content: right;
    font-size: 20px;
    width: 600px;
}
.text{
    font-size: 20px;
    width: 80px;
    height: 30px;
    color: blue;
    text-align: left;
}
.text2{
    font-size: 20px;
    width: 300px;
    height: 30px;
    color: blue;
    text-align: left;
}
 .title m-b-md{
    width: 680px;
    margin: 10px;
 }
 .button{
    align-content: right;
    width: 120px;
    margin-top: 30px;
    font-size: 20px;
 }
 .visit-table{
    display: flex;
    background: #FFFFFF;
    margin: 10px;
    border-style: groove;
    width: 1650px;
 }
 .table-Dr{
    width: 700px;
    margin: 10px;
    margin-right: 100px;
 }
 .table-NP{
    width: 700px;
    margin: 10px;
    margin-left: 100px;
 }
 #space{
    width: 150px;
 }
 body{
    background: lavender;
    font-family: "微軟正黑體";
    font-size:  17px;
    font-weight:  bold;
 }
 th{
    text-align: center;
 }
 
 tr{
    text-align: center;
 }
